// base

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body{
    font-size: 1.6rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
// helper
.container{
    margin: 0 auto;
    max-width: 1110px;
}




// layour

.header-main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}
.header{
    padding: 1.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .menu li{
        display: inline-block;
    }
    .menu a{
        font-size: 1.3rem;
        font-family: "Karla", serif;
        font-weight: bold;
        padding: 1.35rem 2.5rem;
        display: block;
        color: #837D88;
        text-transform: uppercase;
        &:hover{
            border: 1.5px solid #2C2830;
            background-color: #2C2830;
            color: white;
        }
    }
    .menu .last-link{
        border: 1.5px solid #2C2830;
        color: #2C2830;
    }

    .menu-btn{
        width: 35px;
        height: 35px;
        background-color: white;
        display: none;
        border: 2px solid #2C2830;
    }
}

img {
    width: 100%;
}

//layout
.hero-main {
    margin-top: 70px;
    background-color: #2D2641;
    position: relative;
    .hero-image-right{
        position: absolute;
        right: 0;
        top: 0;
        width: 30%;
    }
    .hero-image-left{
        position: absolute;
        bottom: -200px;
        left: 0;
        width: 10%;
    }
}
.hero  {
    background-color:#2D2641;
    padding-top: 103px;
    height: 600px;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    gap: 30px;

}
.col-2-1 {
    grid-column: 2/2;
    grid-row: 1/2;
}

.col-2-2 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.line{
    width: 150px;
    height: 1px;
    background-color: white;
    margin-bottom: 72px;
}
.hero-text h1 {
    color: white;
    letter-spacing: 1px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 72px;
    text-align: left;
}
.hero-text p{
    color: white;
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 26px;
    margin-bottom: 31px;
    line-height: 1.5;
}
.view{
    padding: 15px 29px;
    background-color: white;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;

}

@media  (max-width: 700px) {
    .grid {
        display: block;
    }
}
    

@media (max-width:700px) {
    .menu{
        display: none;
    }
    .header{
        padding: 2.5rem 0;
    }
    .header .menu-btn{
        display: block;
        margin-right: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .menu-btn .hamburger {
        width: 25px;
        height: 2px;
        display: block;
        background-color: #2C2830;
        position: relative;
    }
    .menu-btn .hamburger::after {
        width: 25px;
        height: 2px;
        display: block;
        background-color: #2C2830;
        top: 7px;
        content: "";
        position: absolute;
    }
    .menu-btn .hamburger::before {
        width: 25px;
        height: 2px;
        display: block;
        background-color: #2C2830;
        top: -7px;
        content: "";
        position: absolute;
    }
    .active.menu{
        display: block;
        position: absolute;
        background-color: #2C2830;
        top: 65px;
        width: 100%;
        padding: 4rem ;
        li{
            display: block;
            width: 100%;
            margin-bottom: 2rem;
        }
        a{
            color: white;
            font-size: 20px;
            text-align: center;
            padding:3rem;
            font-family: "Karla", serif;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 1.36px;
        
        }
    }
    .header .last-link a{
        border: 1.5px solid white;
    }
    .menu-btn .cross.hamburger {
        background-color: transparent;
    }
    .menu-btn .cross.hamburger::after{
        top: 0px;
        transform: rotate(45deg);
    }
    .menu-btn .cross.hamburger::before{
        top: 0px;
        transform: rotate(-45deg);
    }
}
.why-us-line{
    width: 20%;
    height: 2px;
    background-color: white;
}
.why-us{
    margin-top: 200px;
}
.why-us-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .why{
        width: 20%;
    }
}



// karla font
// <weight>: Use a value from 200 to 800
// <uniquifier>: Use a unique and descriptive class name


// .karla-<uniquifier> {
//     font-family: "Karla", serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//   }


//$acolot:#837D88;\

// .dm-serif-display-regular {
//     font-family: "DM Serif Display", serif;
//     font-weight: 400;
//     font-style: normal;
//   }
  
//   .dm-serif-display-regular-italic {
//     font-family: "DM Serif Display", serif;
//     font-weight: 400;
//     font-style: italic;
//   }
  

